{% extends 'Buniwa/base.html' %}

{% load static %}

{% block title %}Our Blog | Buniwa Creations {% endblock %}

{% block seo_description %}Read Our blog to get knowledge and stay updated with our digital marketing trends.{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">

</head>
<body>
    
<main id="main">
    <!-- blog hero -->
    <div class="page-header d-flex align-items-center" style="background-image: url('static/images/herobg8.jpg'); background-size: cover;">
      <div class="container page-hero position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center py-6">
            <h2 class="display-4 fw-bold text-light py-2">Blogs</h2>
            <p class="fs-5 fw-bold">
            <a href="{% url 'index' %}">Buniwa</a> <i class="bi bi-caret-right"></i> Blog
            </p>
          </div>
        </div>
      </div>
    </div>
  <!-- end blog hero -->
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <nav>
        <div class="container">
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>Blog</li>
          </ol>
        </div>
      </nav>
      
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container wow bounceInUp" >

        <div class="row gy-4 posts-list">
          <!-- Loop through each card dynamically -->
          {% for card in cards %}
          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="{{ card.blog_image.url }}" alt="" class="img-fluid" style="width: 355px; height: 330px;">
              </div>
              <p class="post-category">{{ card.category }}</p>
              <h2 class="title">
                <!-- <a href="blog_details" class="text-decoration-none fw-bold" >{{ card.title }}</a> -->
                <a href="{{ card.get_absolute_url }}" class="text-decoration-none fw-bold" >{{ card.title }}</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="{{ card.author_image.url }}" alt="" class="img-fluid post-author-img flex-shrink-0" style="width: 50px; height: 50px;">

                <div class="post-meta">
                  <p class="post-author-list">{{ card.author.username }}</p>
                  <p class="post-date"> 
                    <time datetime="{{ card.published_date }}">{{ card.published_date }}</time>
                  </p>
                </div>
              </div>

            </article>
          </div>
          {% endfor %}
          <!-- End post list item -->
        </div><!-- End blog posts list -->

        <div class="blog-pagination">
          <ul class="justify-content-center">
            <li class="active"><a href="#">Bnw</a></li>
          </ul>
        </div><!-- End blog pagination -->

      </div>
    </section><!-- End Blog Section -->


  </main>

  
    <!-- Vendor JS Files -->
    <!-- <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script src="static/vendor/aos/aos.js"></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
    <script src="static/js/login.js"></script>

</body>
</html>

{% endblock %}