{% load static %}
 
 
<!-- Footer Start -->
 <div class="container-fluid footer py-4 my-3 mb-0 bg-light wow bounceInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="footer-item">
                    <a href="{% url 'index' %}" >
                        <img src="{% static 'images/The LOGO.png' %}" style="height: 200px; width: 150px; "> 
                    </a>
                    <p class="lh-lg mb-4">You can find us on various social media.</p>
                    <div class="footer-icon d-flex">
                        <a href="https://www.facebook.com/BuniwaCreations" target="_blank" class="btn btn-primary btn-sm-square me-2 rounded-circle" ><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/buniwacreations" target="_blank" class="btn btn-primary btn-sm-square me-2 rounded-circle" ><i class="bi bi-twitter-x"></i></a>
                        <a href="#" target="_blank" class="btn btn-primary btn-sm-square me-2 rounded-circle" ><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/buniwacreations/" target="_blank" class="btn btn-primary me-2 btn-sm-square rounded-circle"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://wa.link/gvumbp" target="_blank" class="btn btn-primary btn-sm-square rounded-circle"><i class="bi bi-whatsapp"></i></i></a>
                        
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="footer-item">
                    <h4 class="mb-4">Contact Us</h4>
                    <div class="d-flex flex-column align-items-start">
                        <p><i class="fa fa-phone-alt text-primary me-2"></i>(+254) 718 098 806</p>                                               
                        <p><i class="fa fa-map-marker-alt text-primary me-2"></i><a href="https://maps.app.goo.gl/hAc9nKSj9zLiZupY7" target="_blank" style="text-decoration: none;">Abor House Business Center, Aboretum Drive, Nairobi</a></p>
                        
                        <p><i class="fas fa-envelope text-primary me-2"></i>info@buniwacreations.co.ke</p>
                        <p><i class="fa fa-clock text-primary me-2"></i> 26/7 Hours Service</p>
                    </div>
                </div>
            </div>
 
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Copyright Start -->
<div class="container-fluid copyright bg-dark py-4 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <span class="text-light"><a href="https://buniwacreations.co.ke/" target="_blank"><i class="fas fa-copyright text-light me-2"></i>Buniwa Creations</a> | All right reserved.</span>
            </div>
            <div class="col-md-6 my-auto text-center text-md-end text-white">                
                Designed By <a class="border-bottom" href="https://buniwacreations.co.ke/" target="_blank">Buniwa Creations</a>
            </div>
        </div>
    </div>
</div>
<!-- Copyright End -->
  
