
{% extends 'Buniwa/base.html' %}

{% load static %}

{% block title %}Buniwa Creations | Get Big Results with Small Budget. Digital Marketing Agency In Nairobi Kenya{% endblock %}

{% block seo_description %}Buniwa Creations is a digital marketing agency based in Nairobi, Kenya. We help small businesses strugling with low budgets and circumstances to overcome obstacles and achieve their objectives. We specialize in Search Engine Optimisation(SEO), social media marketing, web development, content creation, PPC, copywriting, audio and video production.{% endblock %}


{% block content %}

<!-- start section-->
<div class="container-fluid vbg mb-0 mb-md-5 wow bounceInUp" data-wow-delay="0.1s" >
    <video autoplay muted loop id="video-bg">
        <source src="{% static 'images/bgvideosm.mp4' %}" type="video/mp4">
    </video>
    <div class="vid-overlay"></div>
    <div class="index-hero">
        <div class="row col-md-12 py-6 mb-4">

            
            <div class="py-6">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <!-- <img src="..." class="d-block w-100" alt="..."> -->
                        <h3 class="display-1  text-light mb-4 animated bounceInDown">Karibu <span style="color: #006400;">Buniwa</span> <br> Creations</h3>
                        <p class="text-light fs-5 fw-4 bellefair-font animated bounceInUp">Your Partner In Digital Story Telling!</p>                      </div>
                      <div class="carousel-item">
                        <!-- <img src="..." class="d-block w-100" alt="..."> -->
                        <h3 class="display-1 text-light mb-4 animated bounceInDown">Digital <span style="color: #006400;">Marketing</span> <br> Solutions</h3>
                        <p class="text-light fs-5 fw-4 bellefair-font animated bounceInUp">Tailored digital marketing solutions To Your Budget & Goals</p>                      </div>
                      <div class="carousel-item">
                        <h3 class="display-1 text-light mb-4 animated bounceInDown">We <span style="color: #006400;">Devise</span> <br> Strategies</h3>
                        <p class="text-light fs-5 fw-4 bellefair-font animated bounceInUp">Every Business is Unique That's Why Buniwa Isn't Just Our Name, "Tunabuni"</p>                      </div>
                    </div>
                  </div>
            </div>

            <div class="f-content text-center text-lg-start">
                <a href="https://wa.link/gvumbp" target="_blank" class="btn-read-more mb-4 d-inline-flex align-items-center justify-content-center align-self-center">
                    <span class="me-2">WhatsApp </span>
                    <i class="bi bi-whatsapp"></i>
                  </a>
                <a href="about" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Learn More </span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>

        </div>
    </div>
</div>

<!--  -->
    
<!-- ========HERO SECTION ======= -->

<div class="container f-content wow bounceInUp" data-wow-delay="0.1s" >
    <div class="row gx-0 ">

      <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="content">
          <h3>Who We Are</h3>
          <!-- <h2>We are <span style="color: #006400; font-size: 30px;"> Buniwa Creations</span>, an innovative and tech-savvy team, leveraging cutting-edge strategies to achieve goals.</h2> -->
          <p class="bellefair-font">
            We are <span style="color: #006400;" >Buniwa </span>Creations. <a style="text-decoration: underline;" href="https://sw.glosbe.com/sw/en/-buniwa" target="_blank">Buniwa</a> is a Swahili word that translates to "be <a target="_blank" href="https://www.dictionary.com/browse/devise">devised</a>". This philosophy is at the heart of everything we do. We understand that every business is unique,
             facing its own challenges and limitations.  That's why we don't believe in a one-size-fits-all approach. 
             Instead, we take the time to understand your specific needs, budget, and target audience.  
             Then, we devise a personalized digital marketing strategy that's as clever and innovative as your business itself.
              <p>We're skilled in SEO, social media marketing, email marketing, location-based marketing, content creations and
                 more, and we're constantly staying ahead of the curve to ensure your campaigns deliver the best results.</p>
          </p>
          

          <div class="text-center text-lg-start">
            <a href="https://wa.link/gvumbp" target="_blank" class="btn-read-more mb-4 d-inline-flex align-items-center justify-content-center align-self-center">
                <span class="me-2">whatsapp </span>
                <i class="bi bi-whatsapp"></i>
              </a>
            <a href="about" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Learn More </span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- <div class="col-lg-6 d-flex align-items-center animated bounceInUp mt-0" style="height: 450px;">
        <video  class="rounded-3" width="100%" autoplay loop muted>
            <source src="{% static 'images/Buniwa-Creations-Best-Digital-Marketing-Agenc(1).mp4' %}" type="video/mp4">
        </video>
       </div> -->

       <div class="rounded-3 col-lg-6 d-flex align-items-center animated bounceInUp mt-0" style="border-radius: 10% !important;">
        <iframe width="760" height="415" src="https://www.youtube.com/embed/JhJ7n6FkyiY?si=u6XdOo0-X9sNARjO" title="Buniwa Creations" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>

    </div>
  </div>


<!-- ======== END HERO SECTION ======= -->



    <!-- ======= Services Section ======= -->
    <section id="services" class="services wow bounceInUp">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Our Services</h2>
            <p>What we Offer</p>
          </div>
  
          <div class="row gy-5">
  
            <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
              <div class="service-item">
                <div class="img">
                  <img src="{% static 'images/seo-image.jpg' %}" class="img-fluid service-image" alt="best seo agency in nairobi kenya">
                </div>
                <div class="details position-relative">
                  <div class="icon">
                    <img src="{% static 'images/seo-service.png' %}" class="img-fluid" alt="best budget friendly seo services in kenya">
                  </div>
                  <a href="{% url 'services' %}#seo" class="stretched-link">
                    <h3>SEO</h3>
                  </a>
                  <p>Boost online presence & attract more customers organically with affordable SEO.</p>
                  <a href="{% url 'services' %}" class="btn btn-primary px-4 mt-4 rounded-pill">Read More</a>
                </div>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
              <div class="service-item">
                <div class="img">
                  <img src="{% static 'images/web-image.avif '%}" class="img-fluid service-image" alt="affordable web development in kenya">
                </div>
                <div class="details position-relative">
                  <div class="icon">
                    <img src="{% static 'images/web-service.png' %}" class="img-fluid" alt="cost friendly website development in kenya">
                  </div>
                  <a href="{% url 'services' %}#webdev" class="stretched-link">
                    <h3>Web Development</h3>
                  </a>
                  <p>We build SEO-friendly websites improving conversion rates and search visibility.</p>
                  <a href="{% url 'services' %}#webdev" class="btn btn-primary px-4 mt-4 rounded-pill">Read More</a>
                </div>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
              <div class="service-item">
                <div class="img">
                  <img src="{% static 'images/social-image.avif' %}" class="img-fluid service-image" alt="best social media marketing agency in kenya">
                </div>
                <div class="details position-relative">
                  <div class="icon">
                    <img src="{% static 'images/social-service.png' %}" class="img-fluid" alt="social media marketing agency in nairobi kenya">
                  </div>
                  <a href="{% url 'services' %}#social" class="stretched-link">
                    <h3>Social Media Marketing</h3>
                  </a>
                  <p>Grow your brand & reach new customers on social media without breaking the bank.</p>
                  <a href="{% url 'services' %}#social" class="btn btn-primary px-4 mt-4 rounded-pill">Read More</a>
                </div>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="500">
              <div class="service-item">
                <div class="img">
                  <img src="{% static 'images/services-4.jpg' %}" class="img-fluid service-image" alt="content creators in kenya">
                </div>
                <div class="details position-relative">
                  <div class="icon">
                    <img src="{% static 'images/content-service.png' %}" class="img-fluid" alt="best content creation in kenya">
                  </div>
                  <a href="#" class="stretched-link">
                    <h3>Content Creation</h3>
                  </a>
                  <p>We create high-quality  content to help you engage your audience & get leads.</p>
                  <a href="{% url 'services' %}#content" class="btn btn-primary px-4 mt-4 rounded-pill">Read More</a>
                  <a href="{% url 'services' %}#content" class="stretched-link"></a>
                </div>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="600">
              <div class="service-item">
                <div class="img">
                  <img src="{% static 'images/services-5.jpg' %}" class="img-fluid service-image" alt="email marketing in kenya">
                </div>
                <div class="details position-relative">
                  <div class="icon">
                    <img src="{% static 'images/email-service.png' %}" class="img-fluid" alt="">
                  </div>
                  <a href="#" class="stretched-link">
                    <h3>Email Marketing</h3>
                  </a>
                  <p>Data-driven aproach to run targeted email marketing campaigns.</p>
                  <a href="{% url 'services' %}" class="btn btn-primary px-4 mt-4 rounded-pill">Read More</a>
                  <a href="{% url 'services' %}" class="stretched-link"></a>
                </div>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="700">
              <div class="service-item">
                <div class="img">
                  <img src="{% static 'images/services-6.jpg' %}" class="img-fluid service-image" alt="">
                </div>
                <div class="details position-relative">
                  <div class="icon">
                    <i><img src="{% static 'images/audio-service.png' %}" class="img-fluid" alt="audio and video proction in kenya"></i>
                  </div>
                  <a href="#" class="stretched-link">
                    <h3>Audio/Video Production</h3>
                  </a>
                  <p>Capture the Sound and Story. Take your music, podcast, or event to the next.</p>
                  <a href="{% url 'services' %}#audio" class="btn btn-primary px-4 mt-4 rounded-pill">Read More</a>
                  <a href="{% url 'services' %}#audio" class="stretched-link"></a>
                </div>
              </div>
            </div><!-- End Service Item -->
  
          </div>
  
        </div>
      </section><!-- End Services Section -->

<section id="call-to-action" class="call-to-action section">

<img src="{% static 'images/service-call-to.jpg' %}" alt="">

<div class="container">

    <div class="row" data-aos="zoom-in" data-aos-delay="100">
    <div class="col-xl-9 text-center text-xl-start">
        <h3>Did You Know?</h3>
        <p>Kenyans are mobile-first!, and WhatsApp is their go-to communication channel. We partner with you to understand your audience, brand story, and marketing goals. We work closely throughout the entire production process, ensuring your complete satisfaction.<i class="bi bi-arrow-bar-right"></i></p>
    </div>
    <div class="col-xl-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" href="{% url 'services' %}">Learn How</a>
    </div>
    </div>

</div>

</section>

<!-- End trying services 2 -->



<!-- About Start -->
<div class="container-fluid py-0 py-md-1 features" id="about">
    <div class="container">
        <div class="row feture-tabs align-items-center">

            <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
                <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-success text-center rounded-pill px-4 py-1 mb-5">About Us</small>
            </div>

            <div class="col-12 col-xl-6 wow bounceInUp rounded-3" data-wow-delay="0.1s" style="background-color: #f6f9ff;">
                <h1 class="display-5 mb-5 text-center">The Digital Dynamo!</h1>
                <!-- <h3>Your partner in digital story telling.</h3> -->
    
                <!-- Tabs -->
                <ul class="nav nav-pills mb-3 flex-nowrap justify-content-center">
                    <li>
                    <a class="nav-link active" data-bs-toggle="pill" href="#tab1">Devisive</a>
                    </li>
                    <li>
                    <a class="nav-link" data-bs-toggle="pill" href="#tab2">Mission</a>
                    </li>
                    <li>
                    <a class="nav-link" data-bs-toggle="pill" href="#tab3">Vision</a>
                    </li>
                </ul><!-- End Tabs -->
    
                <!-- Tab Content -->
                <div class="tab-content">
    
                    <div class="tab-pane fade show active" id="tab1">
                    <p class="text-dark">From Web Development, Social-Media Marketing, Paid advertising to SEO, we have you covered</p>
                    <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-check2"></i>
                        <h4 class="text-dark">We are your partner in digital story telling!</h4>
                    </div>
                    <p class="text-dark">Limited resources shouldn't hold your startup back. We are here to level the playing ground, your size no-longer matters, neither does your budget.</p><p class="text-dark" >Dominate Organic Search Results with SEO (Search Engine Optimization), Build Relationships and Drive Sales with Email Marketing, Connect with Your Audience Through Social Media Marketing, Target Local Customers with Geo-Marketing, Build a User-Friendly and Growth-Oriented Website with Web Development and Compelling Content</p>
                    
                    </div><!-- End Tab 1 Content -->
    
                    <div class="tab-pane fade show" id="tab2">
                    <p class="text-dark">We see a world where every startup and struggling business, regardless of their budget or background, has the power to reach their target audience and achieve their dreams.</p>
                    <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-check2"></i>
                        <h4 class="text-dark">To bridge the gap for startups and struggling businesses by providing innovative and personalized marketing solutions;</h4>
                    </div>
                    <p class="text-dark">We are dedicated to helping our clients achieve their marketing goals, build brand awareness, and reach their target audience effectively. Through collaboration, transparency, and a commitment to results, we strive to be your trusted partner on the path to success.</p>
                    </div><!-- End Tab 2 Content -->
    

                    <div class="tab-pane fade show" id="tab3">
                    <p class="text-dark">We're your allies, your cheerleaders, believing in building genuine connections with our clients.</p>
                    <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-check2"></i>
                        <h4 class="text-dark">To be a leading force in empowering startups and growing businesses across Kenya.</h4>
                    </div>
                    <p class="text-dark"> We envision a future where every business, regardless of size or resources, has access to the tools and support they need to thrive in the digital age.</p>

                    </div><!-- End Tab 3 Content -->
    

                    <div class="text-center">
                        <a href="about" class="btn-read-more2 d-inline-flex align-items-center justify-content-center ">
                            <span>About Us </span>
                            <i class="bi bi-arrow-right text-light"></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center animated bounceInUp" style="height: 250px;">
              <video  class="rounded-3" width="100%" autoplay loop muted>
                  <source src="{% static 'images/Buniwa-Creations-Best-Digital-Marketing-Agenc(1).mp4' %}" type="video/mp4">
              </video>
           </div>
            <!-- <div class="d-none col-xl-6 d-xl-block wow bounceInUp " data-wow-delay="0.3s">
                <img src="{% static 'images/digital-marketing-strategy-brainstorming.jpg' %}" alt="about Buniwa Creations, digital marketing agency in Nairobi at a budget" class="img-fluid" style="width: 800px; height: 450px; border-radius: 2%;">
            </div> -->
        </div>
    </div>
</div>
<!-- end -->



<!-- works Start -->
<div class="container-fluid event mt-0 mt-lg-5" id="portfolio">
    <div class="">
        <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
            <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 mb-3">Our Portfolio</small>
            <h1 class="display-5">Our Latest Projects</h1>
        </div>


        <!-- <div class="tab-class text-center">
          
            <ul class="nav nav-pills d-inline-flex justify-content-center mb-5 wow bounceInUp" data-wow-delay="0.1s">
                <li class="nav-item p-2">
                    <a class="d-flex mx-2 py-2 border border-primary bg-light rounded-pill active" data-bs-toggle="pill" href="#tab-1">
                        <span class="text-dark" style="width: 120px;">All Works</span>
                    </a>
                </li>
                <li class="nav-item p-2">
                    <a class="d-flex py-2 mx-2 border border-primary bg-light rounded-pill" data-bs-toggle="pill" href="#tab-2">
                        <span class="text-dark" style="width: 120px;">Latest Works</span>
                    </a>
                </li>
                
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="{% static 'images/allure.PNG' %}" alt="" style="width: 200px; height: 330px;">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Web Development</h4>
                                            <a target="_blank" href="https://allurelounge.co.ke/" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.3s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="{% static 'images/gseries2.PNG' %}" alt=""  style="width: 200px; height: 330px;">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Web Development</h4>
                                            <a target="_blank"  href="https://gseriesmediakenya.com/" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.5s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="{% static 'images/b7.jpg' %}" alt="" style="width: 200px; height: 330px;">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Social Media Marketing</h4>
                                            <a target="_blank"  href="https://www.instagram.com/the_allure_lounge_official/?hl=en" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.5s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded" src="{% static 'images/content.jpg' %}" alt="" style="width: 200px; height: 330px;">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Content Creation</h4>
                                            <a target="_blank"  href="https://www.swahilimusicnotes.com/wimbo/kiu-ya-nafsi/36832" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                                                                                                                                                                                
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="{% static 'images/allure.png' %}" alt="" style="width: 200px; height: 330px;">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Web Development</h4>
                                            <a target="_blank" href="https://www.allurelounge.co.ke/" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="{% static 'images/gseries.png' %}" alt="" style="width: 200px; height: 330px;">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Web Development</h4>
                                            <a target="_blank"  href="https://gseriesmediakenya.com/" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-3" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="{% static 'images/portfolio-04.jpg' %}" alt="" style="width: 200px; height: 330px;">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Social Media Management</h4>
                                            <a target="_blank"  href="https://www.instagram.com/the_allure_lounge_official/?hl=en" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="{% static 'images/portfolio-04.jpg' %}" alt="" style="width: 200px; height: 330px;">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Content Creation</h4>
                                            <a target="_blank"  href="https://www.swahilimusicnotes.com/wimbo/kiu-ya-nafsi/36832" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div> -->


    <section id="clients" class="clients section">
      <div class="container-fluid mt-lg-4 pt-lg-4" style="background:#000;">
        <div class="swiper init-swiper" >
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 2,
                  "spaceBetween": 40
                },
                "480": {
                  "slidesPerView": 3,
                  "spaceBetween": 60
                },
                "640": {
                  "slidesPerView": 4,
                  "spaceBetween": 80
                },
                "992": {
                  "slidesPerView": 6,
                  "spaceBetween": 120
                }
              }
            }


            
          </script>
          <div class="swiper-wrapper align-items-center" >
            {% for logo in logos %}
            <div class="swiper-slide"><img src="{{ logo.company_logo.url }}" class="img-fluid" alt=""></div>
            {% endfor %}
            </div>
            
          <div class="swiper-pagination"></div>
        </div>

      </div>
      </section>

      <script>
         /**
   * Init swiper sliders
   */
  function initSwiper() {
    document.querySelectorAll(".init-swiper").forEach(function(swiperElement) {
      let config = JSON.parse(
        swiperElement.querySelector(".swiper-config").innerHTML.trim()
      );

      if (swiperElement.classList.contains("swiper-tab")) {
        initSwiperWithCustomPagination(swiperElement, config);
      } else {
        new Swiper(swiperElement, config);
      }
    });
  }

  window.addEventListener("load", initSwiper);

      </script>
    </div>
</div>
<!-- works End -->  
        
        
<!-- Social Platforms -->
<div class="container-fluid event py-0 py-md-6">
    <div class="container">
        <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
            <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">OUR COMMUNITY</small>
            <h1 class="display-5 mb-5">Follow Us On Social Media</h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4 d-flex flex-column align-items-center social-column">
                <p class="text-dark fs-4">LinkedIn</p>
                <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
                <div class="elfsight-app-7682f88b-f864-4cdf-b03f-9175be255923 social-widget" data-elfsight-app-lazy></div>
            </div>
            <div class="col-12 col-md-4 mb-4 d-flex flex-column align-items-center social-column">
                <p class="text-dark fs-4">Facebook</p>
                <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
                <div class="elfsight-app-a208a0f3-56d4-4443-b3d8-ad44518c7b09 social-widget" data-elfsight-app-lazy></div>
            </div>
            <div class="col-12 col-md-4 mb-4 d-flex flex-column align-items-center social-column">
                <p class="text-dark fs-4">Instagram</p>
                <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
                <div class="elfsight-app-73d242b2-f994-4624-8387-7adead0cd594 social-widget insta-social" data-elfsight-app-lazy></div>
            </div>
        </div>
    </div>
</div>
<!-- Social End -->




        
        
<!-- Review -->
<div class="container-fluid event py-3" id="portfolio">
    <div class="container">
        <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
            <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Google Review</small>
            <h1 class="display-5 mb-5">What Our Clients Say</h1>
        </div>
        <div class="row d-flex">
            <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
            <div class="elfsight-app-7dda125d-9872-41e0-897d-d766e43f7819" data-elfsight-app-lazy></div>
        </div>
    </div>
</div>
<!-- Review End -->




<!-- Home Contact Section -->
<div id="contact" class="contact-us section">
    <div class="container">
        <div class="row">
        <div class="col-lg-7">
            <div class="section-heading">
            <h2 class="mb-3">Feel free to <em>Contact</em> us via the <span> form</span></h2>
            <div id="map">
                <img src="{% static 'images/headerbg.jpg' %}" class="img-fluid rounded" alt="">
            </div>
            
            </div>
        </div>
        <div class="col-lg-5 align-self-center mt-2">
            <form id="form" method="POST">
                <input type="hidden" name="access_key" value="61e84abb-dfd1-4116-982b-7f24d9c7076f">
                <div class="row g-3">
                    <div class="col-lg-12">
                        <fieldset>
                            <input type="name" class="form-control" name="full-name" id="name" placeholder="Name" autocomplete="on" required>
                        </fieldset>
                    </div>

                    <div class="col-lg-12">
                        <fieldset>
                            <input type="text" class="form-control" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                        </fieldset>
                    </div>
                    <div class="col-lg-12">
                        <fieldset>
                            <input type="subject" class="form-control" name="subject" id="subject" placeholder="The Subject" autocomplete="on" required>
                        </fieldset>
                    </div>
                    <div class="col-lg-12">
                    <fieldset>
                        <!-- <input type="text" class="form-control" name="message" id="message" placeholder="Your Message" required=""> -->
                        <textarea class="form-control" name="message" rows="5" placeholder="Message us here." required></textarea>
                    </fieldset>
                    </div>
                    
                    <div class="col-lg-12">
                    <fieldset>
                        <button type="submit" class="form-control" id="form-submit" class="main-button">Submit Request</button>
                    </fieldset>
                    </div>
                </div>
            </form>
            <div id="result"></div>
        </div>
        </div>
    </div>
    
</div>

<script>
    const form = document.getElementById('form');
    const result = document.getElementById('result');
    
    form.addEventListener('submit', function(e) {
        const formData = new FormData(form);
        e.preventDefault();
    
        const object = Object.fromEntries(formData);
        const json = JSON.stringify(object);
    
        result.innerHTML = "Please wait..."
    
        fetch('https://api.web3forms.com/submit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: json
            })
            .then(async (response) => {
                let json = await response.json();
                if (response.status === 200) {
                    result.innerHTML = json.message;
                } else {
                    console.log(response);
                    result.innerHTML = json.message;
                }
            })
            .catch(error => {
                console.log(error);
                result.innerHTML = "Something went wrong!";
            })
            .then(function() {
                form.reset();
                setTimeout(() => {
                    result.style.display = "none";
                }, 3000);
            });
    });
    </script>



<!-- map section -->
<div class="col-sm-12">
    <div class="contact-map box">
    <div id="map" class="contact-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8263653227646!2d36.80208127404543!3d-1.2776622356148215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f17341ce3ffff%3A0x998f8973d5ccbac6!2sArbor%20House%20Business%20Centre!5e0!3m2!1sen!2ske!4v1716554323034!5m2!1sen!2ske" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    </div>
</div>
<!-- end map -->

{% endblock %}