{% extends 'Buniwa/base.html' %}

{% load static %}

{% block title %}Buniwa | Portfolio {% endblock %}

{% block content %}


    <!-- Template Main CSS File -->
<link href="{% static 'css/login.css' %}" rel="stylesheet">




<!-- ======= Portfolio Section ======= -->

    <!-- portfolio hero -->
    <div class="page-header d-flex align-items-center" style="background-image: url('static/images/herobg2.avif'); background-size: cover;">
        <div class="container page-hero position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center py-6">
              <h2 class="display-4 fw-bold text-light py-2">Portfolio</h2>
              <p class="fs-5 fw-bold">
              <a href="{% url 'index' %}">Buniwa</a> <i class="bi bi-caret-right"></i> portfolio
              </p>
            </div>
          </div>
        </div>
      </div>
    <!-- end portfolio hero -->


<section id="portfolio" class="portfolio sections-bg">
    <div class="container ">

        <div class="section-header">
        <h2>Our Portfolio</h2>
        <p class="bellefair-font text-dark fs-5">Welcome to a Showcase of Creative Excellence: Explore a Diverse Collection of Innovative Designs and Tailored Solutions, Each Crafted with Precision and Passion to Transform Ideas into Reality.</p>
        </div>

        <div class="portfolio-isotope wow bounceInUp" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order"  data-aos-delay="100">

        <div>
            <ul class="portfolio-flters">
            <li data-filter="*" class="filter-active ">Our Popular Products</li>
            </ul>
        </div>
        <div class="row gy-4 portfolio-container">
            {% for card in cards %}
            <div class="col-xl-4 col-md-6 portfolio-item filter-{{ card.category }}">
            <div class="portfolio-wrap">
                <!-- <a href="{{ card.post_image.url }}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{{ card.post_image.url }}" class="img-fluid" alt="{{ card.title }}" style="width: 355px; height: 330px;"></a> -->
                <img src="{{ card.post_image.url }}" class="img-fluid" alt="{{ card.title }}" style="width: 355px; height: 330px;">
                <div class="portfolio-info">
                <h4><a href="{{ card.get_portfolio_url }}" title="More Details">{{ card.title }}</a></h4>
                <p class="bellefair-font">{{ card.description|truncatewords:15 }}</p>
                </div>
            </div>
            </div>
            
            {% endfor %}
            <!-- End Portfolio Item -->
        </div><!-- End Portfolio Container -->
        </div>

    </div>
</section><!-- End Portfolio Section -->




<!-- Template Main JS File -->
<script src="{% static 'js/login.js' %}"></script>



<!-- <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script> -->
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

{% endblock %}