{% extends 'Buniwa/base.html' %}

{% load static %}

{% block title %}Buniwa | SignUp {% endblock %}

{% block content %}


<div class="container py-6">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
            <a href="{% url 'index' %}" class="r-logo d-flex align-items-center w-auto">
                <a href="{% url 'index' %}" >
                    <img src="{% static 'images/The LOGO.png' %}" style="height: 200px; width: 150px; "> 
                </a>
            </a>
            </div>

            <div class="card mb-3">

            <div class="card-body">

                <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                <p class="text-center small">Enter your personal details to create account</p>
                </div>

                <!-- <form class="row g-3 needs-validation" novalidate> -->
                <form method="post">
                    {% csrf_token %}
                <div class="col-12">
                    <label for="fname" class="form-label">Your first Name</label>
                    <input type="text" name="fname" class="form-control" id="fname" required>
                    <div class="invalid-feedback">Please, enter your name!</div>
                </div>

                <div class="col-12">
                    <label for="lname" class="form-label">Your last Name</label>
                    <input type="text" name="lname" class="form-control" id="lname" required>
                    <div class="invalid-feedback">Please, enter your name!</div>
                </div>

                <div class="col-12">
                    <label for="email" class="form-label">Your Email</label>
                    <input type="email" name="email" class="form-control" id="email" required>
                    <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                </div>

                <div class="col-12">
                    <label for="username" class="form-label">Username</label>
                    <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                    <input type="text" name="username" class="form-control" id="username" required>
                    <div class="invalid-feedback">Please choose a username.</div>
                    </div>
                </div>

                <div class="col-12">
                    <label for="yourPassword" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="yourPassword" required>
                    <div class="invalid-feedback">Please enter your password!</div>
                </div>

                <div class="col-12">
                    <label for="yourPassword1" class="form-label">Confirm Password</label>
                    <input type="password" name="password1" class="form-control" id="yourPassword1" required>
                    <div class="invalid-feedback">Please confirm your password!</div>
                </div>


                <div class="col-12">
                    <div class="form-check">
                    <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                    <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="{% url 'terms' %}">terms and conditions</a></label>
                    <div class="invalid-feedback">You must agree before submitting.</div>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Create Account</button>
                </div>
                <div class="col-12">
                    <p class="small mb-0">Already have an account? <a href="{% url 'signin' %}">Log in</a></p>
                </div>
                </form>

            </div>
            </div>

            <div class="credits">
                Designed by <a href="">BuniwaCreations</a>
            </div>

        </div>
        </div>
    </div>

    </section>

</div>



<!-- 
<div class="signin-page text-center">
  
    <div class="form-signin py-4">
      <br><br>
        <form method="post">

        <img class="mb-4" src="{% static 'images/FINAL LOGO 10.png' %}" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Add niceadmin signup page</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="username" name="username" placeholder="eg. John Doe">
            <label for="username">Username</label>
        </div>
        
        <div class="form-floating">
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
            <label for="email">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="password" name="password" placeholder="enter your password">
          <label for="password">Password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Confirm Password">
            <label for="password1"> Confirm Password</label>
        </div>

        <button class="w-100 btn " type="submit" style="background-color: #006400; color: #fff;">Sign Up</button>
        <label class="mt-2">Already have an account?<a href="{% url 'signin' %}"> Sign in</a></label>
        </form>
    </div>
</div> -->



{% endblock %}