{% extends 'Buniwa/base.html' %}

{% load static %}

{% block title %}Our Services | Buniwa Creations {% endblock %}

{% block seo_description %}Buniwa Creations Digital Marketing Services.{% endblock %}

{% block content %}


 <!-- Service Start -->

 <!-- service hero -->
 <div class="page-header d-flex align-items-center" style="background-image: url('static/images/herobg6.jpg'); background-size: cover;">
  <div class="container page-hero position-relative">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 text-center py-6">
        <h2 class="display-4 fw-bold text-light py-2">Our Services</h2>
        <p class="fs-5 fw-bold">
          <a href="{% url 'index' %}">Home</a> <i class="bi bi-caret-right"></i> Services
        </p>
      </div>
    </div>
  </div>
</div>
 <!-- end service hero -->


 <div class="container-fluid service py-6" id="services" style="background-color:#fff; box-shadow: 5px 5px 0 yellow;">
    <div class="p-md-4">
        <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
            <small class="d-inline-block fw-bold text-dark text-uppercase border border-primary rounded-pill px-4 py-1 mb-3" style="background-color: darkgreen; box-shadow: 5px 5px 0 yellow;">Popular Services</small>
            <h2 class="display-5 mb-5 " style="color: #000;">Outsmart the competition with Digital Marketing Agency</h2>
        </div>


        <!-- ----------------------------- -->
        <!-- {% for item in service_items %}
        <div class="py-4" id="webdev">
                <div class="row align-items-center">
                    {% if forloop.counter|divisibleby:2 %}

                    <div class="col-lg-5 order-1 order-lg-1 wow bounceInUp" data-wow-delay="0.1s">
                        <h3 class="display-5 mb-4"> {{ item.service_header}} </h3>
                        <img src=" {{ item.service_image.url }} " class="service-img img-fluid rounded" alt="best-web-development-services-in-kenya-at-a-budget">
                    </div>
                    <div class="col-lg-7 order-2 order-lg-2 wow bounceInUp" data-wow-delay="0.3s">
                        
                        <p class="mb-4 bellefair-font text-dark fs-5" style="border: 1px solid #868585; padding: 15px; border-radius: 10px;"> {{ item.service_quote}} </p>                        
                    </div>
                    {% else %}

                    <div class="col-lg-7 order-2 order-lg-1 wow bounceInUp" data-wow-delay="0.3s">
                        <h3 class="display-3 d-none d-lg-block mb-4"> {{ item.service_header}} </h3>
                        <p class="mb-4 bellefair-font text-dark fs-5" style="border: 1px solid #868585; padding: 15px; border-radius: 10px;"> {{ item.service_quote}} </p>                        
                    </div>
                    <div class="col-lg-5 order-1 order-lg-2 wow bounceInUp" data-wow-delay="0.1s">
                        <h3 class="display-3 d-lg-none mb-4"> {{ item.service_header}} </h3>
                        <img src=" {{ item.service_image.url }} " class="service-img img-fluid rounded" alt="best-web-development-services-in-kenya-at-a-budget">
                    </div>

                    {% endif %}

                </div>
                <a href="https://wa.link/n09dk9" target="_blank" class="btn btn-outline-success ms-auto mt-2">I need This</a>
        </div>
        {% endfor %} -->
        <!-- ------------------------------ -->

        <!-- Static Items -->


        <!-- item 1 -->
        <div class="py-4" id="seo">
          <!-- <div class="p-md-5"> -->
            <div class="row align-items-center">
                <div class="col-lg-5 order-1 order-lg-1 wow bounceInUp" data-wow-delay="0.1s">
                    <h3 style="color: #006400;" class="mb-4"> Search Engine Optimisation (SEO) </h3>
                    <img src=" {% static 'images/Buniwa-Creations-SEO-agency-in-nairobi.png' %}" class="service-img heartbeat img-fluid rounded" alt="best-web-seo-services-in-kenya-at-a-budget">
                </div>
                <div class="col-lg-7 order-2 order-lg-2 wow bounceInUp" data-wow-delay="0.3s">
                    <p class="mb-4 bellefair-font text-dark fs-5" style="border: 1px solid #868585; padding: 15px; border-radius: 10px;"> SEO involves optimizing your website and content to rank higher in search engine results pages (SERPs) for relevant keywords. This increases organic traffic to your website from potential customers searching for your products or services. <br><br> <span style="font-weight: bolder;">Why It's Important:</span>: Ranking higher in search results means greater online visibility. This translates to increased website traffic, brand awareness, and ultimately, more leads and sales. <br> We conduct thorough keyword research, analyze your competitors, and optimize your website content and technical aspects for search engines. We also build high-quality backlinks to increase your website's authority.
                      <br><br>
                      <span style="font-weight: bolder;">Delivery and Measurement:</span>  We provide ongoing SEO services and track your website's ranking progress for targeted keywords. We also monitor organic traffic and conversions to measure the impact of SEO efforts.
                      <br> We analyze SEO data to identify areas for further optimization. This may involve adapting to algorithm updates, creating fresh content, or acquiring additional high-quality backlinks.</p>                      
                </div>
            </div>
            <a href="https://wa.link/n09dk9" target="_blank" class="btn btn-outline-success ms-auto mt-2">I need This</a>
          <!-- </div> -->
        </div>

        <!-- item 2 -->
        <div class="py-4" id="webdev">
          <!-- <div class="p-md-5"> -->
            <div class="row align-items-center ">
                <div class="col-lg-7 order-2 order-lg-1 wow bounceInUp" data-wow-delay="0.3s">
                  <p class="mb-4 bellefair-font text-dark fs-5" style="border: 1px solid #868585; padding: 15px; border-radius: 10px;">A well-designed website is the foundation of your online identity. It's your digital storefront, acting as the first impression for potential customers. We create user-friendly, mobile-responsive websites that showcase your brand and convert visitors into leads. <br><br>
                    <span style="font-weight: bolder;">Why It's Important:</span> In today's digital age, having a professional website is crucial for establishing credibility and trust. It allows you to showcase your services, provide valuable information, and capture leads. <br><br>

                    <span style="font-weight: bolder;">Our Process:</span> We work closely with you to understand your brand vision and target audience. We then design and develop a custom website that is visually appealing, easy to navigate, and optimized for search engines.
                    <br>We deliver a fully functional website with on-page SEO optimization and ongoing maintenance options. We track key metrics like website traffic, conversion rates, and user engagement to measure success. <br><br>
                    <span style="font-weight: bolder;">Analysis and Improvement:</span> We analyze website traffic data and user behavior to identify areas for improvement. This allows us to optimize your website for better performance and continuously enhance user experience.</p>                        
                </div>
                <div class="col-lg-5 order-1 order-lg-2 wow bounceInUp" data-wow-delay="0.1s">
                    <h3 style="color: #006400 !important;" class="mb-4"> Web Development </h3>
                    <img src=" {% static 'images/bes-affordable-web-development-in-kenya.png' %}" class="service-img heartbeat img-fluid rounded" alt="best-web-development-services-in-kenya-at-a-budget">
                </div>

            </div>
            <a href="https://wa.link/n09dk9" target="_blank" class="btn btn-outline-success ms-auto mt-2">I need This</a>
          <!-- </div> -->
        </div>

         <!-- item 3 -->
         <div class="py-4" id="social">
          <!-- <div class="p-md-5"> -->
            <div class="row order-1 order-lg-1 align-items-center">
                <div class="col-lg-5 order-1 order-lg-1 wow bounceInUp" data-wow-delay="0.1s">
                    <h3 style="color: #006400;" class="mb-4"> Social Media Marketing</h3>
                    <img src=" {% static 'images/affordable-social-media-marketing-in-kenya.png' %}" class="service-img heartbeat img-fluid rounded" alt="best-affordable-social-media-marketing">
                </div>
                <div class="col-lg-7 order-2 order-lg-2 wow bounceInUp" data-wow-delay="0.3s">
                    
                    <p class="mb-4 bellefair-font text-dark fs-5" style="border: 1px solid #868585; padding: 15px; border-radius: 10px;"> Social media marketing leverages social media platforms like Facebook, Instagram, and Twitter to connect with your target audience, build brand awareness, and drive traffic to your website.
                      <br><br> <span style="font-weight: bolder;">Why It's Important:</span>Social media allows you to engage directly with potential customers, promote your brand, and build a loyal following. It's a powerful tool for generating leads and driving sales.
                      <br>We develop a custom social media strategy based on your target audience and brand goals. We create engaging content, manage your social media profiles, and run targeted social media advertising campaigns.
                      
<br><br>
                     <span style="font-weight: bolder;">Delivery and Measurement:</span>We provide regular content creation and social media management services. We track key metrics like follower growth, engagement rates, and website traffic generated from social media to measure success.
                    
                      <br> We analyze social media data to understand audience preferences and identify content that resonates best. We then refine your social media strategy for continuous improvement. </p>   
                                     
                </div>
            </div>
            <a href="https://wa.link/n09dk9" target="_blank" class="btn btn-outline-success ms-auto mt-2">I need This</a>
          <!-- </div> -->
        </div>

        <!-- item 4 -->
        <div class="py-4" id="content">
          <!-- <div class="p-md-5"> -->
            <div class="row  align-items-center">
                <div class="col-lg-7 order-2 order-lg-1 wow bounceInUp" data-wow-delay="0.3s">
                  <p class="mb-4 bellefair-font text-dark fs-5" style="border: 1px solid #868585; padding: 15px; border-radius: 10px;">Content creation involves developing engaging and informative content, such as blog posts, articles, infographics, and videos, to attract and retain your target audience.<br><br>
                    <span style="font-weight: bolder;">Why It's Important:</span> High-quality content positions you as a thought leader in your industry, establishes trust with potential customers, and drives organic traffic to your website.<br><br>

                    <span style="font-weight: bolder;">Our Process:</span> We work with you to understand your target audience and content needs. We then create high-quality, SEO-optimized content that is informative, engaging, and relevant to your industry.
                    <br>We deliver a variety of content formats tailored to your specific needs. We track key metrics like website traffic, content engagement (shares, comments), and lead generation to measure success.<br><br>
                    <span style="font-weight: bolder;">Analysis and Improvement:</span> We analyze content performance data to understand what resonates with your audience. This allows us to refine your content strategy and continuously improve the quality and effectiveness of your content marketing efforts.</p>                        
                </div>
                <div class="col-lg-5 order-1 order-lg-2 wow bounceInUp" data-wow-delay="0.1s">
                    <h3 style="color: #006400 !important;" class="mb-4"> Content Creation</h3>
                    <img src=" {% static 'images/affordable-content-creation.png' %}" class="service-img heartbeat img-fluid rounded" alt="Content creation that is affordale">
                </div>

            </div>
            <a href="https://wa.link/n09dk9" target="_blank" class="btn btn-outline-success ms-auto mt-2">I need This</a>
          <!-- </div> -->
        </div>

         <!-- item 5 -->
         <div class="py-4" id="advertising">
          <!-- <div class="p-md-5"> -->
            <div class="row align-items-center">
                <div class="col-lg-5 order-1 order-lg-1 wow bounceInUp" data-wow-delay="0.1s">
                    <h3 style="color: #006400;" class="mb-4"> Paid Advertising (PPC)</h3>
                    <img src=" {% static 'images/best-paid-advertising-company-in-kenya.png' %}" class="service-img heartbeat img-fluid rounded" alt="best-paid-advertising-company-in-kenya">
                </div>
                <div class="col-lg-7 order-2 order-lg-2 wow bounceInUp" data-wow-delay="0.3s">
                    
                    <p class="mb-4 bellefair-font text-dark fs-5" style="border: 1px solid #868585; padding: 15px; border-radius: 10px;"> Pay-per-click (PPC) advertising allows you to reach a targeted audience on search engines and social media platforms by placing paid ads. You only pay when someone clicks on your ad.
                      <br><br> <span style="font-weight: bolder;">Why It's Important:</span>PPC advertising is a fast and effective way to reach highly targeted audiences actively searching for what you offer. It allows you to drive immediate website traffic and leads.
                      <br>We conduct in-depth keyword research, develop targeted PPC campaigns on platforms like Google Ads and Facebook Ads, and manage your budget to maximize return on investment (ROI).
                      
<br><br>
                     <span style="font-weight: bolder;">Delivery and Measurement:</span>We provide comprehensive PPC campaign management and track key metrics like click-through rates (CTR), conversion rates, and cost-per-acquisition (CPA) to measure campaign effectiveness.
                    
                      <br> We analyze PPC data to identify what's working and what's not. Based on these insights, we optimize your campaigns and continuously improve their performance. </p>   
                                     
                </div>
            </div>
            <a href="https://wa.link/n09dk9" target="_blank" class="btn btn-outline-success ms-auto mt-2">I need This</a>
          <!-- </div> -->
        </div>

        <!-- item 6 -->
        <div class="py-4" id="audio">
          <!-- <div class="p-md-5"> -->
            <div class="row  align-items-center">
                <div class="col-lg-7 order-2 order-lg-1 wow bounceInUp" data-wow-delay="0.3s">
                  <p class="mb-4 bellefair-font text-dark fs-5" style="border: 1px solid #868585; padding: 15px; border-radius: 10px;">In today's digital world, compelling content is key. Buniwa Creations offers video and audio production services to tell your brand story, engage viewers, and achieve marketing goals.<br><br>
                    <span style="font-weight: bolder;">Production services:</span> include <br>
                    1. Podcasts: Establish thought leadership with informative and engaging podcasts. <br>
                    2. Voiceovers: Enhance videos and presentations with professional narration. <br> 
              
                    3. Sound Design & Music: Elevate productions with high-quality sound design and original music.<br><br>

                    
                    <br>We partner with you to understand your audience, brand story, and marketing goals. We work closely throughout the entire production process, ensuring your complete satisfaction.<br><br>
                                        
                </div>
                <div class="col-lg-5 order-1 order-lg-2 wow bounceInUp" data-wow-delay="0.1s">
                    <h3 style="color: #006400 !important;" class="mb-4"> Audio & Video Production</h3>
                    <img src=" {% static 'images/audio-and-video-production-in-kenya.png' %}" class="service-img heartbeat img-fluid rounded" alt="Audio and video production i kenya">
                </div>

            </div>
            <a href="https://wa.link/n09dk9" target="_blank" class="btn btn-outline-success ms-auto mt-2">I need This</a>
          <!-- </div> -->
        </div>

        <!-- item 7 -->
        <div class="py-4" id="location">
          <!-- <div class="p-md-5"> -->
            <div class="row align-items-center">
                <div style="border: 1px solid #868585; padding: 15px; border-radius: 10px;" class="col-lg-7 order-2 order-lg-1 fs-5 bellefair-font text-dark ow bounceInUp" data-wow-delay="0.3s">
                  <p class="mb-4 bellefair-font text-dark fs-5" >Location-Based Marketing leverages mobile device location data to deliver targeted marketing messages to users based on their physical location. It's a powerful tool for brick-and-mortar businesses and service providers with a local focus. <br>In today's mobile-first world, reaching your target audience where they are is crucial for success. Buniwa Creations offers a suite of location-based marketing (LBM) services designed to put your brand directly in front of potential customers at the precise moment they need you. Here are some key LBM techniques Buniwa Creations can utilize for your business: <ul>
                    <li>
                      Geomarketing/Geofencing: We create virtual perimeters (geofences) around specific locations, such as your store or competitor locations. When a mobile user with location services enabled enters or exits the geofence, they receive targeted notifications or messages on their phones.
                    </li>
                    <li>
                      
Mobile Marketing: We craft engaging SMS marketing campaigns or utilize push notifications within mobile apps to reach your target audience directly on their devices.
                    </li>
                    <li>
                      
Beaconing: We integrate beacon technology with your marketing strategy. Beacons are small devices that transmit signals to nearby smartphones, allowing us to deliver hyper-targeted messages and promotions to customers within your store or at specific events.
                    </li>
                    <li>
                      
Geotargeting: We leverage location data to tailor your online advertising campaigns to specific regions, cities, or even neighborhoods. This ensures your ads reach the most relevant audience, maximizing your return on investment (ROI).
                    </li>
                  </ul><br>
                    <span style="font-weight: bolder;">Why It's Important:</span> Increased Brand Awareness: Reach potential customers who are actively searching for products or services in your vicinity, driving brand awareness and foot traffic. <br>
                    Enhanced Customer Engagement: Deliver targeted messages and promotions that are relevant to the user's location and needs, leading to higher engagement rates. <br>
                    Personalized Marketing: Cater your marketing efforts to specific locations, allowing you to tailor offers and promotions based on local preferences. <br>
                    Measurable Results: Track the effectiveness of your LBM campaigns with key metrics like click-through rates, conversion rates, and in-store visits to measure ROI.<br>

                    <span style="font-weight: bolder;">Our Process:</span> We work closely with you to understand your target audience and business goals. We then develop a customized LBM strategy that utilizes the most effective techniques for your specific needs. <ul>
                      <li>
                        Conduct thorough location-based market research.
                      </li>
                      <li>
                        
Analyze competitor LBM strategies.
                      </li>
                      <li>                      
Identify the most relevant LBM techniques for your business.
                      </li>
                      <li>                     
Create targeted messaging and promotions for each location.
                      </li>
                      <li>    
Implement and manage your LBM campaigns seamlessly.
                      </li>
                      <li>                       
Track and analyze campaign performance to ensure continuous optimization.
                      </li>
                    </ul><br><br>
                    </p>                        
                </div>
                <div class="col-lg-5 order-1 order-lg-2 wow bounceInUp" data-wow-delay="0.1s">
                    <h3 style="color: #006400 !important;" class="mb-4"> Location-Based Marketing (LBM)</h3>
                    <img src=" {% static 'images/location-based-marketing-geomarketin-geofencing-mobile-marketing.png' %}" class="service-img heartbeat img-fluid rounded">
                </div>

            </div>
            <a href="https://wa.link/n09dk9" target="_blank" class="btn btn-outline-success ms-auto mt-2">I need This</a>
          <!-- </div> -->
        </div>

      

 


  <!-- why we are best -->
  <div class="container py-0 py-md-6">
    <div class="row">

      <div class="col-md-4 mb-3">
        <button class="btn mb-5" style="background-color: darkgreen; box-shadow: 4px 4px 0 yellow;">Buniwa Creations</button>
        <h4 class="fw-bold ">Why we are the best.</h4>
        <div class="card mt-4" style="width: 300px; height: 180px; background-color: darkgreen; box-shadow: 4px 4px 0 yellow;">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text fw-bold display-6 h3 text-dark">Tailored Solutions for every Client</p>
          </div>
        </div>
      </div>
      
      <!-- Second Column -->
      <div class="col-md-4">
        <!-- First Card -->
        <div class="card mb-3" style="width: 300px; height: 180px; background-color: darkgreen; box-shadow: 4px 4px 0 yellow;">
          <div class="card-body">
            <p class="card-text fw-bold display-6 h3 text-dark">Data-Driven Decision-Making</p>
          </div>
        </div>
        
        <!-- Second Card -->
        <div class="card" style="width: 300px; height: 180px; background-color: darkgreen; box-shadow: 4px 4px 0 yellow; ">
          <div class="card-body">
            <p class="card-text fw-bold fs-2 h3 text-dark">Holistic Approach to Digital Success</p>
          </div>
        </div>
      </div>
      
      <!-- Third Column -->
      <div class="col-md-4 py-4">
        <!-- Image -->
        <img src="{% static 'images/service1.png' %}" class="img-fluid" alt="Image">
      </div>
    </div>
  </div>
  
  <!-- end -->
<!-- Service End -->



{% endblock %}
