

{% extends 'Buniwa/base.html' %}

{% load static %}

{% block title %}Our Team  | Buniwa Creations{% endblock %}

{% block seo_description %}Our Team Members. This is the team handling different areas in digital marketing including social media marketing, email marketing, SEO, web development, geo-marketing and email marketing{% endblock %}


{% block content %}

<div class="page-header d-flex align-items-center" style="background-image: url('static/images/herobg4.jpg'); background-size: cover;">
    <div class="container page-hero position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center py-6">
          <h2 class="display-4 fw-bold text-light py-2">The Team</h2>
            <p class="fs-5 fw-bold">
            <a href="{% url 'index' %}">Home</a> <i class="bi bi-caret-right"></i> Team
          </p>
        </div>
      </div>
    </div>
  </div>
<!-- Team Start -->
<div class="p-md-5">
    <div class="row">
        <div class="d-none d-md-block col-md-1">                
            <h2 class="card-title fw-bold"></h2>
            <p class="text-success"></p>

            
        </div>

        <div class="col-md-10">
            <!-- ==========================MEMBER========================== -->
            {% for card in cards %}
                <div class="container-fluid py-2" id="about">
                    <div>
                        <div class="row align-items-center">
                            
                            {% if forloop.counter0|divisibleby:2 %}
                            <div class="col-lg-5 order-1 order-lg-1 wow bounceInUp" data-wow-delay="0.1s">
                                <small class="d-inline-block fw-bold text-dark text-uppercase border border-primary rounded-pill px-4 py-1 mb-3" style="background-color: darkgreen; box-shadow: 0 5px 5px yellow;">{{ card.team_name }}</small>

                                <p class="custom" style="font-family: var(--bs-body-font-family)">{{ card.team_position }}</p>
                                <img src="{{ card.team_image.url }}" class="img-fluid rounded" style="height: 300px; width: 500px;" alt="">
                            </div>
                            <div class="col-lg-7 order-2 order-lg-2 wow bounceInUp" data-wow-delay="0.3s">
                                <small class="d-inline-block d-none fw-bold text-dark text-uppercase border border-primary rounded-pill px-4 py-1 mb-3" style="background-color: darkgreen; box-shadow: 0 5px 5px yellow;">{{ card.team_name }}</small>
                    
                                <p class="custom d-none" style="font-family: var(--bs-body-font-family)">{{ card.team_position }}</p><br>
                                <p class="mb-4 bellefair-font text-dark fs-5">{{ card.team_content }}</p>                        
                                <div class="team-icon d-flex justify-content-center m-4">
                                    <a class="share-link btn btn-md-square rounded-circle mr-2" href="{{ card.team_facebook }}" style="background-color: darkgreen; box-shadow: 0 5px 5px yellow;" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    <a class="share-link btn btn-md-square rounded-circle mr-2" href="{{ card.team_twitter }}" style="background-color: darkgreen; box-shadow: 0 5px 5px yellow;" target="_blank"><i class="fab fa-twitter"></i></a>
                                    <a class="share-link btn btn-md-square rounded-circle" href="{{ card.team_intagram }}" style="background-color: darkgreen; box-shadow: 0 5px 5px yellow;" target="_blank"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            {% else %}
                            <div class="col-lg-7 order-2 order-lg-1 wow bounceInUp" data-wow-delay="0.3s">
                                <small class="d-inline-block d-none  fw-bold text-dark text-uppercase border border-primary rounded-pill px-4 py-1 mb-3" style="background-color: darkgreen; box-shadow: 0 5px 5px yellow;">{{ card.team_name }}</small>
                    
                                <p class="custom d-none" style="font-family: var(--bs-body-font-family)">{{ card.team_position }}</p><br>
                                <p class="mb-4 bellefair-font text-dark fs-5">{{ card.team_content }}</p>                        
                                <div class="team-icon d-flex justify-content-center m-4">
                                    <a class="share-link btn btn-md-square rounded-circle mr-2" href="{{ card.team_facebook }}" style="background-color: darkgreen; box-shadow: 0 5px 5px yellow;" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    <a class="share-link btn btn-md-square rounded-circle mr-2" href="{{ card.team_twitter }}" style="background-color: darkgreen; box-shadow: 0 5px 5px yellow;" target="_blank"><i class="fab fa-twitter"></i></a>
                                    <a class="share-link btn btn-md-square rounded-circle" href="{{ card.team_intagram }}" style="background-color: darkgreen; box-shadow: 0 5px 5px yellow;" target="_blank"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-5 order-1 order-lg-2 wow bounceInUp" data-wow-delay="0.1s">
                                <small class="d-inline-block fw-bold text-dark text-uppercase border border-primary rounded-pill px-4 py-1 mb-3" style="background-color: darkgreen; box-shadow: 0 5px 5px yellow;">{{ card.team_name }}</small>
                    
                                <p class="custom" style="font-family: var(--bs-body-font-family)">{{ card.team_position }}</p><br>
                                <img src="{{ card.team_image.url }}" class="img-fluid rounded" style="height: 300px; width: 500px;" alt="">
                            </div>

                            {% endif %}

                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

        
        <div class="d-none d-md-block col-md-1 mt-5"> 
        </div>
    </div>
</div>
<!-- Team End -->




{% endblock %}